<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="AnninMiruButton.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>